html,body {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: white;

}

body{
	background-image: url(../image/tint.jpg);
	background-repeat: no-repeat;
	background-position: -447px 0;
}

	


.main-header {
	
	background-color: #000000;
	margin-bottom: 60px;
}

.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.main-navigation {
	width: 780px;
	float: left;
	
}
 .main-header .user-block  {
    
    text-align: center;
    
}

.user-block a {
	vertical-align: middle;
	display: inline-block;
}

.main-navigation li {
	display: inline-block;
}

.user-block {
	width: 140px;
	float: right;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.index-logo {
	width: 368px;
	height: 204px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 25px;
}

.index-logo img {
	z-index: 5000;
}

.features {
    margin-bottom: 80px;
}

.features-item {
	float: left;
	width: 300px;
	margin-right: 20px;
}

.features-item:last-child {
	margin-right: 0;
}

.features-name {
	text-align: center;
	display: block;
}